# Python files that might contain sensitive data or local configurations
config.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/

# Jupyter Notebook files
.ipynb_checkpoints

# VSCode files
.vscode/

# Excel temporary files
~$*.xlsx
*.xlsx
*.tmp